@font-face {
    font-family: 'iconfont';
    font-weight: normal;
    font-style: normal;
    src: url('https://at.alicdn.com/t/font_1496204_z8vk8iez3z.ttf') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.qq:before {
    content: "\e6ca";
}
.github:before {
    content: "\e618";
}
.gitee:before {
    content: "\e602";
}
